@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14141A;
  --background-accent: #3D3C4D;
  --foreground: #F4F1FF;
  --primary: #B8B6CA; 
  --secondary: #5C5A6C;
  --accent: #8EBFFF;
  --accent-darker: #486182;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
    color: var(--accent)
}

strong {
    font-weight: bold;
}